* {
    margin: 0;
    padding: 0;
}

html, body {

    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(182, 157, 126);
}

.sub-title {
    margin: 0.2em 0% 0.2em 33%;
    font-size: large;
}

img {
   margin-top: .5em;
   height: 40%;
   width: 75%;
   margin-left: 13%;
    
}

header {
    display: block;
    top: 0;
    left: 0;
    height: 2%;
    width: 100%;
    background-color: olive;
    padding: 10px;
}

.info {
    margin-top: 0;
    padding-right: 10px;
    float: right;
}

h1 {
    margin-bottom: 1em;
}

nav a:visited,
nav a:link {
    color: black;
    text-decoration: none;
}

nav a:hover {
    background-color: gray;
    transition-duration: 0.2s;
    color: white;

}

nav > ul {
    display: inline;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0px 5px 0 5px;
    padding-left: 10px;
}

main {
    display: flex;
    flex-direction: row;
    flex: 2;
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 85%;
}

input, label {
    margin-bottom: 1em;
}


article {
    width:75%;
    padding: .5em;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 2;
    margin-top: 3rem;
    margin-left: 40%;
}

.button {
    padding: .5em 1em .5em 1em;
    font-size: large;
    font-weight:bolder;
    border: black 3px solid;
    margin-bottom: 1em;
    margin-left: 45%;
    
}

footer {
    padding: 15px;
    background-color: olive;
}

@media only screen and (max-width: 768px) {
    
    
    main {
        display:flex;
        flex-direction: column;
        flex: 1;
        
    }

    h1 {
        margin-bottom: .50rem;
        margin-top: 1rem;
    }

    input, label {
        margin-bottom: .75rem;
    }

    .info {
        margin-top: 1rem;
    }

    form {
        display:flex;
        flex-direction: column;
        flex: 1;
       
    }
 
}

