<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style1.css">
    <title>Colors-What Season Am I?</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/quiz">Home</a></li>
                <li><a href="seasons.html">Color_Charts</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
        <h1>Your Color Season Is: SUMMER</h1>
        
        <h1>Your Color Season Is: AUTUMN/FALL</h1>
        <h1>Your Color Season Is: WINTER</h1>
        <h1>Your Color Season Is: SPRING</h1>


    <footer>
        <nav>
            <ul>
                <li><a href="/quiz">Home</a></li>
                <li><a href="seasons.html">Color_Charts</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </footer>
    <script src="colors.js"></script>
    <script src="quiz.js"></script> 
    
    <a href="/quiz"><button type="reset">Click for a New Color Analysis</button></a>
</body>
</html>

