* {
    margin: 0;
}

html, body {

    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #999;
}

.sub-title {
    margin: 0.2em 0% 0.2em 33%;
    font-size: large;
}

img {
   margin-top: .5em;
   height: 30%;
   width: 50%;
   margin-left: 25%;
    
}

header {
    display: block;
    top: 0;
    left: 0;
    height: 2%;
    width: 100%;
    background-color: #45b07a;
    padding: 10px;
}

.info {
    margin-top: 0;
    float: right;
}

h1 {
    margin-bottom: 1em;
}

nav a:visited,
nav a:link {
    color: #fff;
    text-decoration: none;
}

nav > ul {
    display: inline;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0px 5px 0 5px;
    padding-left: 10px;
}

main {
    display: flex;
    flex-direction: row;
    flex: 2;
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 85%;
}

input, label {
    margin-bottom: 1em;
}


article {
    
    width:75%;
    padding: .5em;
}

section {
    display: flex;
    flex-direction: row;
    margin-top: 75px;
    
}

.container1 {
    width: 50%;
    height: 100vh;
    margin-left: 35%;
}
.container2 {
    width: 50%;
    height: 100vh;
    margin-left: 10%;
   
}

.button {
    padding: .5em 1em .5em 1em;
    font-size: large;
    font-weight:bolder;
    border: black 3px solid;
    margin-bottom: 1em;
    margin-left: 45%;
    
}

footer {
    padding: 15px;
    background-color: #45b07a;
}

@media only screen and (min-width: 768px) {
    main {
        display:flex;
    }
    aside {
        margin-left: 2%;
    }

    .columns-desktop {
        display: flex;
    }
}

.color {
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border: solid 1px #ccc;
}

.color img {
    width: 100%;
}

.color .title {
    font-weight: bold;
}

.color .columns {
    width:100%;
}
.color .price {
    text-align: right;
}
.color .columns div {
    width: 50%;
}

.color button {
    background-color: #f6aeae;
    padding: 10px;
    border: solid 1px #f6aeae;
    border-radius: 3px;
    color: #fff;
}
    

